* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILITIES*/

:root {
    --primary-topblue: #0084FD;
    --primary-lightcyan: #b5ddff;
    --primary-cardlilla: #9792e4;
    --primary-ocrayellow: #fdc15f;  
}

.container {
    max-width: 1170px;
    margin: auto;
}

.flex {
    display: flex;
}

.center {
    text-align: center;
}



/*Debug*/

.debug_top {
    height: 60px;
}

.content_logo, .links {
    width: 60px;
}

/*Codice dell'header*/

.top {
    background-color: var(--primary-topblue);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

.content_logo, .links {
    background-color: var(--primary-ocrayellow);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.top .flex {
    justify-content: space-between;
    align-items: center;
}

/*Codice del "Demo"*/

#demo .cards {
    width: calc(100% - 1.5rem);
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: var(--primary-lightcyan);
    width: calc(100% - 1.5rem);
    margin-top: 2rem;
}

.card div {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#demo .cards {
    width: calc(100% - 1.5rem);
    flex-direction: column;
    align-items: center;
}

.bigger {
    flex-direction: column;
    align-items: center;
}




/*MEDIAQUERY*/

@media screen and (min-width: 768px) {
    .top .container {
        max-width: 740px;
    }

}

@media screen and (min-width: 992px) {
    .top .container {
        max-width: 962px;
    }
}